<div class="container">
    <div class="form-group col-md-3 col-md-offset-3 align-center ">
        <form id="formNewEmployee" name="formEmployee" 
            (submit)="addNewEmployee(Contact.value);" [formGroup]="Contact">
           <!-- <label>ID:</label>
    <input type="text" name ="id" id="id" placeholder="id" ngModel><br> -->


            <label>Tên:</label >
            <input type="text" name="tenNhanVien" id="tenNhanVien" placeholder="tên nhân viên"
                formControlName="tenNhanVien" ><br>

            <label>Vị trí:</label>
            <input type="text" name="viTri" id="viTri" placeholder="vị trí"
                formControlName="viTri" ><br>

            <label>Trình độ:</label>
            <input type="text" name="trinhDo" id="trinhDo" placeholder="trình độ" formControlName="trinhDo"
                ><br>

            <label>Bộ phận:</label>
            <input type="text" name="boPhan" id="boPhan" placeholder="bộ phận" formControlName="boPhan"
                ><br>

            <label>Ngày sinh:</label>
            <input type="date" name="ngaySinh" id="ngaySinh" placeholder="ngày sinh" formControlName="ngaySinh" ><br>

            <label>Số chứng minh nhân dân:</label>
            <input type="text" name="soCmnd" id="soCmnd" placeholder="số chứng minh nhân dân" formControlName="soCmnd" role="alert" ><br>

             <label>Email:</label>
            <input type="text" name="email" id="email" placeholder="email" formControlName="email" role="alert" ><br>

             <label>Địa chỉ:</label>
            <input type="text" name="diaChi" id="diaChi" placeholder="Địa chỉ" formControlName="soCmnd" role="alert" ><br>

          <!-- <p *ngIf="Contact.get('email').hasError('required') && (Contact.get('email').dirty || Contact.get('email').touched)"> ssss</p> -->
          <!-- <p *ngIf="Contact.get('email')?.errors.required && Contact.get('email')?.touched">Tên không được để trống</p>
           <p *ngIf="Contact.get('email')?.errors.pattern && Contact.get('email')?.touched">Tên sai định dạng sai</p> -->
           
            <input type="submit" value="Add Employee" >
        </form>
    </div>
</div>
