
<form #employeeData="ngForm" (submit)="updateEmployee();">
    <h1>Update</h1>
    <label>ID:</label>
    <input type="text" name ="id" id="id" [(ngModel)]="employee.id" ngModel disabled><br>
    
    <label>Tên:</label>
    <input type="text" name ="tenNhanVien" id="tenNhanVien" [(ngModel)]="employee.tenNhanVien" ngModel><br>
    
    <label>Loại khách hàng:</label>
    <input type="text" name ="viTri" id="viTri" [(ngModel)]="employee.viTri" ngModel><br>
    
    <label>Trình độ:</label>
    <input type="text" name ="trinhDo" id="trinhDo" [(ngModel)]="employee.trinhDo" ngModel><br>
    
    <label>Bộ phận:</label>
    <input type="text" name ="boPhan" id="boPhan" [(ngModel)]="employee.boPhan" ngModel><br>
    
    <label>Ngày sinh:</label>
    <input type="text" name ="ngaySinh" id="ngaySinh" [(ngModel)]="employee.ngaySinh" ngModel><br>

    <label>Số chứng minh nhân dân:</label>
    <input type="text" name ="soCmnd" id="soCmnd" [(ngModel)]="employee.soCmnd" ngModel><br>
    
    <label>Email:</label>
    <input type="text" name ="email" id="email" [(ngModel)]="employee.email" ngModel><br>
    
    <label>Địa chỉ:</label>
    <input type="text" name ="diaChi" id="diaChi" [(ngModel)]="employee.diaChi" ngModel><br>
    <input type="submit" value="Update employee">
    </form>
