<!-- 
<form id="formNewDichvu" name="formDichVu" #dichvuData="ngForm" (submit)="updateDichVu();">
    <h1>Update Dich vu</h1>
    <label>ID:</label>
    <input type="text" name ="id" id="id" [(ngModel)]="dichvu.id" ngModel disabled><br>
    
    <label>Tên dịch vụ:</label>
    <input type="text" name ="dienTich" id="dienTich" [(ngModel)]="dichvu.dichvu" ngModel><br>
    
    <label>Diện tích:</label>
    <input type="text" name ="tenDichVu" id="tenDichVu" [(ngModel)]="dichvu.tenDichVu" ngModel><br>

    <input type="submit" value="Update dịch vụ">
    </form>

            id: number;
            tenDichVu:string;
            dienTich:number;
            soTang: number;
            soNguoiToiDa:number;
            chiPhiThue:number;
            trangThai:string; -->
